<!--
  Set the character encoding for this document, so that
  all characters within the UTF-8 space (such as emoji)
  are rendered correctly.
-->
<meta charset="utf-8">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title></title>

<!-- Short description of the document (limit to 150 characters) -->
<!-- This content *may* be used as a part of search engine results. -->
<meta name="description" content="">

<!-- All Search Engines -->
<meta name="robots" content="index,follow">

<!-- Google Specific -->
<meta name="googlebot" content="index,follow">

<!-- Hide from search engines -->
<!-- <meta name="robots" content="noindex"> -->

<!-- Set the document's title -->
<title>Page Title</title>

<!-- Link to an external CSS file. Inline attribute tells gulp to inline it -->
<link rel="stylesheet" href="css/main.css" inline>
